body {
    margin: 0;
    padding: 0;
  }
  body * {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .wd-color-gray {
    color: gray;
  }

  .card-title {
    text-decoration: none; color: navy; font-weight: bold
  }

  .rowing {
    padding-top: 30px;
    padding-left: 30px;
  }
