.previewWarning {
    background-color: rgb(251, 231, 228);
    width: 800px;
    padding: 2px;
    border-radius: 10px;
    margin-top: 20px;
    
}

.previewWarning p {
    margin-top: 15px;
    margin-left: 15px;
    color: rgb(216, 89, 43);
}


.keepEditing {
    background-color: rgb(241, 241, 241);
    width: 800px;
    padding: 1px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin-top: 20px;
    
}


.keepEditing p{
    margin-top: 15px;
    margin-left: 15px;
    color: rgb(130, 130, 130);

}

.submitQuiz {
    padding-left: 665px;
}